@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/space-grotesk.ttf");
  font-family: SpaceMono;
  font-weight: normal;
  font-style: normal;
}

*,
body {
  font-family: SpaceMono !important;
  box-sizing: border-box;
}

.fade-in {
  display: flex;
  transition: 0.5s;
  animation: fadeIn 0.5s linear;
}

.fade-out {
  transition: 0.5s;
  animation: fadeOut 0.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
