@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/space-grotesk.ttf");
  font-family: SpaceMono;
  font-weight: normal;
  font-style: normal;
}

*, body {
  font-family: SpaceMono !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



